@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";

.lang {
  display: none;

  @include onTablet {
    display: flex;
    width: 50px;
  }

  @include onDesctop {
    display: flex;
    width: 50px;
  }

  &__open {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    background-color: aqua;

    @include onTablet{
      display: block;
    width: 50px;
    margin: 0;
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;

    @include onDesctop {
      &:hover {
        font-weight: 700;
        color: $colorAccent;
        cursor: pointer;
      }
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}