@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";

.btn{
    display: none;
  
    width: 176px;
    height: 41px;
    background-color: $colorAccent;
    color: $colorBlack;
    font-family: $mainFontFirst;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;

    @include onTablet{
    display: block;
    width: 142px;
    height: 35px;
    font-size: 12px;
line-height: 14px;
    }
    @include onDesctop{
    display: block;
    width: 165px;
    }

    &__open{
        display: block;
        margin-top: 38px;
    }

    &__footer{
        display: block;
    }


    
}


// [styles.submenu, styles.active].join(' ')