@font-face {
  font-family: "WorkSans";
  src: url("fonts/WorkSans/WorkSans-Regular.woff") format("woff"),
       url("fonts/WorkSans/WorkSans-Regular.woff2") format("woff2");
       font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("fonts/WorkSans/WorkSans-Light.woff") format("woff"),
    url("fonts/WorkSans/WorkSans-Light.woff2") format("woff2");
    font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("fonts/WorkSans/WorkSans-Medium.woff") format("woff"),
    url("fonts/WorkSans/WorkSans-Medium.woff2") format("woff2");
    font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("fonts/WorkSans/WorkSans-SemiBold.woff") format("woff"),
    url("fonts/WorkSans/WorkSans-SemiBold.woff2") format("woff2");
    font-display: swap;
    font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("fonts/WorkSans/WorkSans-Bold.woff") format("woff"),
    url("fonts/WorkSans/WorkSans-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy/Gilroy-Semibold.woff") format("woff"),
    url("fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2");
    font-display: swap;
    font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy/Gilroy-Semibold.woff") format("woff"),
    url("fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2");
    font-display: swap;
    font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lexend";
  src: url("fonts/Lexend/Lexend-Light.woff") format("woff"),
    url("fonts/Lexend/Lexend-Light.woff2") format("woff2");
    font-display: swap;
    font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("fonts/Space_grotesk/SpaceGrotesk-Bold.woff") format("woff"),
    url("fonts/Space_grotesk/SpaceGrotesk-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
  font-style: normal;
}
