@import "variables";
@import "mixin";

%container {
  max-width: $mobileContentWidthMax; //520px
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include onTablet {
    max-width: $tabletWidthContainerMax; //834px
    padding: 0 10px;
  }

  @include onTabletLarge {
    max-width: $tabletWidthLargeContent; //1024px
    padding: 0 10px;
  }

  @include onDesctop {
    max-width: $desctopContentWidth; //1830px
    padding: 0 15px;
  }
}

%containerMin {
  max-width: $mobileContentWidthMax; //520px
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;

  @include onTablet {
    max-width: $tabletContentWidth; //700
    padding: 0 5px;
  }

  @include onTabletLarge {
    max-width: $tabletWidthLarge; //971px
    padding: 0 10px;
  }

  @include onDesctop {
    max-width: $desctopContentWidthMin; //1140
    padding: 0 15px;
  }
}

%font-main-text {
  font-size: 14px;
  line-height: 21px;
  /* or 150% */

  @include onDesctop {
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
  }
}

%font-title-text {
  font-family: $mainFontSecondary;
  font-weight: $mainFontSecondaryWeight;
  font-size: 24px;
  line-height: 30px;

  @include onTablet {
    font-size: 40px;
    line-height: 50px;
  }

  @include onDesctop {
    font-size: 60px;
    line-height: 80px;
    /* or 133% */
  }
}

%font_16px_600 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

%font-secondary {
  font-family: $mainFontSecondary;
  font-weight: $mainFontSecondaryWeight;
}
