$colorMainText              : #ffffff;
$colorText                  : #929292;
$colorAccent                : #FCD54C;
$colorMain                  : #272727;
$colorTextFaq               : #E8E8E8;
$colorBlack:                  #000000;


$mainFontFirst              : "WorkSans";
$mainFontWeight             : 400;
$mainLineHeight             : 1.4;
$mainFontSize               : 14px;

$mainFontSecondary           : "Gilroy";
$mainFontSecondaryWeight     : 700;

$fontFooter                  : "WorkSans";
$footerFontWeight            : 300;



//WIDTH

$desctopWidth             : 1920px;
$desctopContentWidth      : 1830px;  //1830px+paddind 2x15
$desctopContentWidthMin  : 1140px; //1110px+paddind 2x15

$smDesctopWidth           : 769px;

//tablet
$tabletWidth              : 768px;
$tabletContentWidth       : 700px;     //690+padding 2x5
$smTabletWidth            : 369px;

//mobile
$mobileContentWidth       : 294px; //290+padding 2x2
$MobileWidthBox           : 320px;
