@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";

.container {
  @extend %containerMin;
  margin: 0 auto;
}

.services {
  padding-top: 43px;
  color: $colorMainText;

  @include onTablet {
    padding-top: 70px;
  }

  @include onDesctop {
    padding-top: 140px;
  }

  &__description {
    @include flex-all-sb;

    &__title {
      font-family: $mainFontSecondary;
      font-weight: $mainFontSecondaryWeight;
      font-size: 24px;
      line-height: 30px;

      @include onTablet {
        font-size: 25px;
        line-height: 45px;
      }

      @include onDesctop {
        font-size: 32px;
        line-height: 45px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      font-family: $mainFontSecondary;
      font-weight: 600;

      font-size: 8px;
      line-height: 10px;
      color: $colorText;

      @include onTablet {
        font-size: 12px;
        line-height: 15px;
      }

      @include onDesctop {
        font-size: 16px;
        line-height: 21px;
      }

      &:hover {
        color: $colorAccent;
        cursor: pointer;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 288px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 27px;
      max-width: 690px;
    }

    @include onDesctop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 27px;
      max-width: 1100px;
    }

    &__item {
      position: relative;
      width: 290px;
      height: 219px;

      @include onTablet {
        width: 208px;
        height: 220px;
      }

      @include onDesctop {
        height: 350px;
        width: 350px;
      }

      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
      }

      &__title {
        display: none;

        @include onDesctop {
          display: block;
          position: absolute;
          left: 10%;
          top: 80%;

          font-family: $mainFontSecondary;
          font-weight: $mainFontSecondaryWeight;
          font-size: 25px;
          line-height: 35px;
        }
      }
    }
  }
}

.item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding: 23px;

  color: $colorMain;
  background-color: $colorAccent;

  @include onTablet {
    padding: 23px 14px 14px;
  }

  @include onDesctop {
    padding: 41px 35px 23px;
  }

  &__title {
    font-family: $mainFontSecondary;
    font-weight: $mainFontSecondaryWeight;
    font-size: 18px;
    line-height: 35px;

    @include onDesctop {
      font-size: 25px;
      line-height: 35px;
    }
  }

  &__desc {
    font-size: 12px;
    line-height: 18px;

    @include onDesctop {
    }

    font-size: 16px;
    line-height: 26px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: $mainFontSecondary;
    font-weight: 600;
    color: $colorAccent;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      color: $colorAccent;
      cursor: pointer;
    }
  }
}
