@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";

.container {
  @extend %container;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: $colorMainText;
}

.expertise {
  padding-top: 78px;

  @include onTablet {
    padding-top: 15px;
  }

  @include onDesctop {
    padding-top: 60px;
  }

  &__quote {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: $colorTextFaq;

    @include onTablet {
      margin: 0;
      text-align: left;
    }

    @include onDesctop {
      width: 730px;
    }

    &__subtitle {
      padding-bottom: 10px;
      @extend %font_16px_600;
      color: $colorAccent;

      @include onTablet {
        padding-bottom: 14px;
      }

      @include onDesctop {
        padding-bottom: 40px;
      }
    }

    &__title {
      @extend %font-secondary;
      font-size: 24px;
      line-height: 30px;

      padding-bottom: 10px;

      @include onTablet {
        font-size: 30px;
        line-height: 37px;
        padding: 0 200px 23px 0;
      }

      @include onDesctop {
        font-size: 70px;
        line-height: 69px;

        padding-bottom: 33px;
      }
    }
  }
}

.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 40px 0;

  @include onTablet {
    padding: 70px 0;
  }

  @include onDesctop {
    padding: 89px 0 120px 0;
  }

  video {
    display: block;
    width: 100%;

    object-fit: cover;
  }
}

.btn__play {
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease-in-out;

  @include onTablet {
    width: 50px;
    height: 50px;
  }

  @include onDesctop {
    width: 125px;
    height: 125px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.quote {
  max-width: $mobileContentWidth;
  margin: 0 auto;
  padding: 22px 24px;
  border: 1px $colorAccent solid;

  @include onTablet {
    max-width: $tabletContentWidth;
    padding: 37px 59px;
  }

  @include onDesctop {
    padding: 70px 95px;

    max-width: $desctopContentWidthMin;
  }

  &__content {
    font-family: $mainFontSecondary;
    color: $colorMainText;
    font-size: 16px;
    line-height: 160%;

    @include onTablet {
      font-size: 18px;
      line-height: 160%;
    }

    @include onDesctop {
      font-size: 30px;
      line-height: 48px;
    }

    span {
      color: $colorAccent;
    }
  }
}
