@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";


.container {

  @extend %container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer {

  padding: 50px 0 65px 0;
  position: relative;

  @include onTablet {
    padding: 70px 0 50px 0;
  }

  @include onDesctop {
    padding: 122px 0 50px 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border-top: 2px solid yellowgreen;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 55px;
    border-bottom: 2px solid yellowgreen;

    @include onDesctop {
      bottom: 95px;
    }
  }



  &__logo {
    padding-top: 40px;

    @include onDesctop {
      padding-top: 70px;

    }
  }

  &__menu {
    padding-top: 40px;

    @include onTablet {
      padding-top: 30px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: $mobileContentWidth;

      @include onTablet {
        width: $tabletContentWidth;
      }

      @include onDesctop {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 7%;
        padding-top: 100px;
        padding-bottom: 95px;

        font-weight: 300;

        width: 100%;
        margin: 0 auto;
      }

    }

    &__link {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 20px;

      }

    }

  }

  &__submenu__list {
    display: none;
    position: relative;

    padding: 5px 0 0 15px;

    @include onDesctop {
      padding: 40px 0 0;
      display: block;
      position: relative;
    }

    &.open {
      display: block;
    }
  }

  &__submenu__link {

    white-space: nowrap;
    margin-bottom: 10px;

    &:hover {
      color: $colorAccent;
      cursor: pointer;
    }
  }


  &__contact__list {

    @include onDesctop {
      padding: 40px 0 0;
    }

  }

  &__contact__link {
    &:not(:last-child) {
      margin-bottom: 20px;

      &:hover {
        color: $colorAccent;
        cursor: pointer;
      }
    }
  }
}
  .button__arrow {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 10px solid $colorMainText;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;

    @include onDesctop {
      display: none;
    }

    &.active {
      border-top: 10px solid $colorAccent;
      transform: rotate(-180deg);

    }
  }

  .btn__footer{
    display: block;
  }