@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";

.footer {
  position: relative;

  @include onDesctop {
    padding: 122px 0 50px 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    // top: 85px;
    border-top: 2px solid yellowgreen;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 55px;
    border-bottom: 2px solid yellowgreen;

    @include onDesctop {
      bottom: 95px;
    }
  }

  &__container {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    @include onDesctop {
      margin-top: 70px;
    }
  }

  &__grid {
    @include onDesctop {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 7%;
      padding-top: 100px;
      padding-bottom: 95px;

      font-weight: 300;

      width: 100%;
      margin: 0 auto;
    }

    &__list {

      display: none;
    //   // position: absolute;
    //   // width: 100%;
    //   // left: 0;
    //   // top: 100%;
    //   // background-color: #fff;
    //   // border: 1px solid #ccc;
    //   // z-index: 1;
    //   // .desktop_only
      @include onDesctop {
        margin-top: 40px;
        display: block;
        // display: flex;
        // flex-direction: column;
        // position: relative;
      }

    //   // .active {
    //   //   display: block;
    //   // }
    }

    &__link {
      display: block;
      margin: 0;
      white-space: nowrap;

      &:hover {
        color: $colorAccent;
        cursor: pointer;
      }

      &:not(:last-child) {
        @include onDesctop {
          margin-bottom: 20px;
        }
      }
    }


    &__items {
      margin-bottom: 30px;

      @include onDesctop {
        margin-bottom: 0;
      }

      button {
        display: block;
        margin-bottom: 10px;

        @include onDesctop{
          display: none;
        }
      }
    }

  
  }
}

.copyright {
  // padding-top: 50px;

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.mobile_only {
  @include onDesctop{display: none;}
  
  }

  // .desktop_only{
  //   @include onDesctop {
  //     margin-top: 40px;
  //     display: flex;
  //     flex-direction: column;
  //     position: relative;
  //   }
  // }

  .desktop_only {
    display: none;
 
  
  @include onDesctop {
      display: block;
    }
  }

  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }