@import "utils/variables";
@import "utils/mixin";
@import "utils/templates";
@import "utils/fonts";

.mySwiper-hero {
  // .swiper-slide{
  //   // height: 320px;
  // }
  .swiper_button {
    display: flex;
    height: 24px;
    left: 26%;
    position: absolute;
    top: 94%;
    width: 162px;
    z-index: 20;
//     position: absolute;
//     top: 94%;
//     left: 0;
// z-index: 20;
    @include onDesctop{
      display: flex;
      height: 24px;
      left: 26%;
      position: absolute;
      top: 94%;
      width: 162px;
      z-index: 20;
    }
    // background-color: aqua;
 

    span {
      color: $colorMainText;
      height: 24px;

      margin-left: 84px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $colorMainText;
  }

  .swiper-button-prev:after {
    content: "";
  }

  .swiper-button-next:after {
    content: "";
  }

  .swiper-pagination {
    position: absolute;
    left: 40%;
    top: 85%;
    z-index: 22;
    width: 288px;
    height: 96px;
   
    margin: 0;
    padding: 0;

    @include onDesctop {
      align-items: center;

      height: 150px;
      width: 1080px;
      position: absolute;
      left: 40%;
      top: 85%;
      z-index: 22;

      margin: 0;
      padding: 0;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
     

      @include onDesctop{
        flex-direction: row;
      }
    }

    .pagination__accent {
      font-family: $mainFontSecondary;
      font-weight: $mainFontSecondaryWeight;
      font-size: 40px;
      line-height: 50px;

      @include onDesctop{
        font-size: 60px;
        line-height: 24px;
      }
      
      
      // Line height: 32%
    }

    .pagination__text {
      font-weight: 600;
      text-align: start;
      font-size: 10px;
      line-height: 12px;
    
      @include onDesctop{
        padding-left: 20px;
        
        font-size: 16px;
        line-height: 26px;
       

      }
    }

    .swiper-pagination-bullet {
      // margin-top: 80px;
      display: flex;
      flex-direction: column;
      // width: 288px;
      // height: 96px;
      width: 79px;
      height: 77px;

      @include onDesctop{
       

                        width: 220px;
        height: 55px;
      }
     
    }

    .swiper-pagination-bullet-active .pagination__accent,
    .swiper-pagination-bullet-active .pagination__text{
      color: $colorAccent 
    }
  }
}

.mySwiper-hero .swiper-pagination,
.mySwiper-hero .swiper-pagination__item {
  display: flex;
  justify-content: space-around;
  color: $colorMainText;
  background-color: $colorMain;
}