@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";
@import "utils/fonts";

.container {
  @extend %containerMin;
  position: relative;
}

.blog {
  padding-top: 42px;

  @include onTablet {
    padding-top: 62px;
  }

  @include onDesctop {
    padding-top: 120px;
  }

  &__header {
    @extend %container;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;

    @include onTablet {
      flex-direction: row;
    }

    @include onDesctop {
      flex-direction: row;
      height: 80px;
      margin-bottom: 84px;
    }

    &__searchInput {
      max-width: 800px;
      width: 100%;
      border: 1px solid $colorText;
      background-image: url(.././../assets/images/Blog/magnifier-glass.svg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 20px;

      @include onTablet {
        border-style: 30px;
      }

      @include onTabletLarge {
        border-style: 30px;
      }

      @include onDesctop {
        border-style: 30px;
      }
    }

    &__title {
      @extend %font-secondary;
      font-size: 24px;
      line-height: 30px;
      text-align: center;

      @include onTablet {
        font-size: 30px;
        line-height: 37px;
      }

      @include onDesctop {
        font-size: 60px;
        line-height: 80px;
      }
    }
  }

  //card - slide
  &__card {
    position: relative;

    &__image {
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__inform {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      text-align: start;

      padding: 10px;
      background-color: $colorMain;
      border: 1px solid $colorAccent;

      @include onTablet {
        padding: 30px;
      }

      @include onTabletLarge {
        padding: 30px;
      }

      @include onDesctop {
        row-gap: 30px;
        padding: 38px;
      }
    }
  }
}

.inform {
  &__title {
    font-family: $mainFontSecondary;
    font-weight: $mainFontSecondaryWeight;
    font-size: 14px;
    line-height: 20px;

    @include onTablet {
      font-size: 17px;
      line-height: 20px;
    }

    @include onDesctop {
      font-size: 25px;
      line-height: 35px;
    }
  }

  &__text {
    font-family: $mainFontSecondary;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $colorText;

    @include onDesctop {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    font-weight: $mainFontSecondaryWeight;
    font-size: 12px;
    line-height: 14px;
    text-align: end;

    @include onDesctop {
      font-size: 16px;
      line-height: 24px;
    }

    &:hover {
      color: $colorAccent;
      cursor: pointer;
    }
  }
}

.paginationContainer {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 20px auto 0;

  @include onTablet {
    width: 70%;
    margin: 35px auto 0;
  }

  @include onDesctop {
    width: 50%;
    margin: 50px auto 0;
  }

  .paginationWrapper {
    display: flex;
    width: 100%;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;

    @include onDesctop {
      height: 40px;
    }
  }

  .paginationBullet {
    padding: 5px;

    border-radius: 0;

    cursor: pointer;
    transition: all 0.3s ease;
  }

  .paginationItemActive {
    background-color: #ffc107;
  }

  .navBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    @include onDesctop {
      font-size: 30px;
    }
  }

}

.loading{
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  color: $colorAccent;
}