@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";

.header {
  padding-top: 15px;

  color: $colorMainText;

  @include onTablet {
    padding-top: 15px;
  }

  @include onDesctop {
    padding-top: 23px;
  }

  &__container {
    @extend %container;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    position: fixed;
    left: -100%;
    right: 0;
    top: 75px;
    bottom: 0;
    z-index: 10;

    transition: all 0.5s ease 0s;
    width: 100%;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      position: static;
    }

    @include onDesctop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: static;
      max-width: 1466px;
    }

    //burger
    &__active {
      position: absolute;
      left: 0;
      top: 50px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $colorMain;

      @include onTablet {
        // position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: 65px;
      }
    }
  }

  &__ui__block {
    display: none;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 20px;
      line-height: 19px;
      position: static;
    }

    @include onDesctop {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, auto);
      column-gap: 53px;
      font-size: 14px;
      line-height: 17px;
    }

    &__open {
      display: flex;

      flex-direction: column;
      align-items: center;

      @include onTablet {
        position: absolute;
        top: -5%;
        left: 27%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 20px;
        line-height: 19px;
        align-items: center;
        z-index: 10;
      }
    }

    &__contact {
      display: none;

      @include onTablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      @include onDesctop {
        display: block;
      }

      &__link {
        color: $colorMain;
        font-family: $mainFontSecondary;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }

      &__open {
        margin-top: 38px;

        @include onTablet {
          margin-top: 0;
        }
      }
    }
  }
}

.burger {
  display: block;

  @include onDesctop {
    display: none;
  }

}
