@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";

.social {
 
  &__list {
    display: flex;


    &__item {
     
      &:hover {
        color: $colorAccent;
      }
    }
  }

  /* Styles for main*/
  &.main {
    display: none;

    @include onTablet {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3%;
      left: 95%;
      z-index: 5;
    }

    @include onDesctop {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3%;
      left: 97%;
      z-index: 5;
    }

    .social__list {
      flex-direction: column;

      @include onDesctop {
      }

      &__item {
        &:not(:last-child) {
          padding-bottom: 20px;
        }
      }
    }
  }

  /* Styles for footer */
  &.footer {
    display: flex;

    .social__list {
      flex-direction: row;

      @include onDesctop {
      }

      &__item {
        &:not(:last-child) {
          padding-right: 30px;
        }
      }
    }
  }

  /* Styles fpr contacts */
  &.contacts {
    display: flex;

    .social__list {
      flex-direction: row;

      @include onDesctop {
      }

      &__item {
       
          padding-left: 14px;
        
      }
    }
  }
}
