@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";

.container {
  @extend %containerMin;
}

.description {
  padding-top: 15px;

  @include onTablet {
    padding-top: 78px;
  }

  @include onDesctop {
    padding-top: 60px;
  }

  &__content {
    margin: 0 auto;

    @include onDesctop {
      max-width: 730px;
    }
  }

  &__title {
    @extend %font-secondary;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;

    @include onTablet {
      font-size: 25px;
      line-height: 45px;
      padding-bottom: 20px;
    }

    @include onDesctop {
      font-size: 25px;
      line-height: 45px;

      padding-bottom: 50px;
    }
  }

  &__subtitle,
  &__text {
    padding-bottom: 10px;

    @include onTablet {
      padding-bottom: 20px;
    }

    @include onDesctop {
      padding-bottom: 20px;
    }
  }

  &__text {
    color: $colorText;

    @include onDesctop {
      text-align: justify;
    }
  }

  &__subtitle {
    line-height: 26px;

    &__accent {
      color: $colorText;
    }
  }

  &__image {
    max-width:$mobileContentWidth;
    height: 252px;
    padding-top: 20px;
    overflow: hidden;

    @include onTablet {
      max-width: $tabletContentWidth;
      height: 436px;
    }

    @include onDesctop {
      max-width:$desctopContentWidthMin;
      height: 702px;
      padding-top: 60px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
