@import 'utils/fonts';
@import 'utils/mixin';
@import 'utils/variables';
@import 'utils/normalize';
@import 'utils/templates';


html{
  font-family: $mainFontFirst;
  font-weight: $mainFontWeight;
   font-size: 14px;
line-height: 160%;
  color: $colorMainText;
  background-color: $colorMain;

  

  @include onDesctop {
     font-size: 18px;
line-height: 160%;

    
  }
}

/* Стили для блокировки прокрутки при открытом бургер-меню */
body.menu-open {
  overflow: hidden;
}


// .section{
//   @extend %containerMain;
// }


.projects__pagination {
  // margin-top: 35px;
  margin: 35px auto 0;

  @include onTablet{
    // margin-top: 50px;
      margin: 50px auto 0;
  }
  @include onDesctop{

// margin-top: 110px;
  margin: 110px auto 0;
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: $colorAccent;

    @include onDesctop { 
      width: 13px;
    height: 13px;
    }
  }
  
}

.reviews__slider {
  .swiper {
  padding-top: 36px;
@include onTablet{
  padding-top: 46px;
}
    @include onDesctop {
     padding-top: 56px;
      overflow: visible;
    }
  }

  .swiper-slide-active,
  .swiper-slide-next {
    padding-top: 20px;
  }

  .reviews-pagination {
    margin-top: 20px;
    padding-top: 20px;

    @include onTablet {
      margin-top: 36px;
      padding-top: 36px;
    }

    @include onDesctop {
      margin-top: 40px;
      padding-top: 40px;
    }

    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      background-color: $colorAccent;

      @include onDesctop {
        width: 13px;
        height: 13px;
      }
    }
  }
}


.apartments__pagination {
  margin-top: 35px;
  

  @include onTablet{
    margin-top: 50px;
  }
  @include onDesctop{
margin-top: 110px;
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: $colorAccent;

    @include onDesctop { 
      width: 13px;
    height: 13px;
    }
  }
  
}

// .offers__pagination {
//   margin-top: 35px;
  

//   @include onTablet{
//     margin-top: 50px;
//   }
//   @include onDesctop{
// margin-top: 110px;
//   }

//   .swiper-pagination-bullet {
//     width: 20px;
//     height: 20px;
//     text-align: center;
//     line-height: 20px;
//     font-size: 12px;
//     color: #000;
//     opacity: 1;
//     background: rgba(0, 0, 0, 0.2);
//   }
  
//   .swiper-pagination-bullet-active {
//     color: #fff;
//     background: #007aff;
//   }
  
// }