@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";
@import "utils/fonts";

.container {
  @extend %container;
  position: relative;
}

.offers {
  
  padding-top: 42px;
  

  @include onTablet {
    padding-top: 62px;
  }

  @include onDesctop {
    padding-top: 120px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %font-secondary;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    @include onTablet {
      // margin-bottom: 0;
      font-size: 30px;
      line-height: 37px;
    }

    @include onDesctop {
      margin-bottom: 84px;
      font-size: 60px;
      line-height: 80px;
    }
  }

  //card - slide
  &__card {
    position: relative;
    max-width: 140px;
    // height: 186px;

    @include onTablet {
      max-width: 165px;
      // height: 220px;
    }
    

    @include onDesctop {
      max-width: 425px;
      height: 878px;
      margin-bottom: 20px;
    }

    &__image {


      @include onDesctop {
        height: 580px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__inform {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      text-align: start;

      padding: 9px 7px 7px 8px;
      background-color: $colorMain;
border: 1px solid $colorAccent;
      @include onDesctop {
        row-gap: 30px;
        padding: 38px 107px 27px 38px;
      }

      

  }
}


}

.inform{
  
  &__title {
    font-family: $mainFontSecondary;
    font-weight: $mainFontSecondaryWeight;
    font-size: 14px;
    line-height: 20px;

    @include onTablet{
      font-size: 17px;
      line-height: 20px;
    }

    @include onDesctop {
      font-size: 25px;
      line-height: 35px;
    }
  }

  &__text {

font-size: 12px;
line-height: 16px;

    @include onDesctop {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    font-weight: $mainFontSecondaryWeight;
    font-size: 12px;
    line-height: 14px;
    text-align: end;

    @include onDesctop {
      font-size: 16px;
      line-height: 24px;
    }

    &:hover {
      color: $colorAccent;
      cursor: pointer;
    }
  }
}

.paginationContainer {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 20px auto 0;


  @include onTablet{
    width: 70%;
    margin: 35px auto 0;
  }
  @include onDesctop{

    width: 50%;
    margin: 50px auto 0;
  }
 

  .paginationWrapper{
    display: flex;
    width: 100%;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;

    @include onDesctop{
      height: 40px;
    }
  }
    .paginationBullet {

   
   
      padding: 5px;
     
      border-radius: 0;
     
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .paginationItemActive {
      background-color: #ffc107;
    }
  

  
  
  .navBtn {
   
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    @include onDesctop{
      font-size: 30px;
    }
  }
  
// .nextBtn{
//   color: aqua;
// }
  
}

