@import "utils/fonts";
@import "utils/mixin";
@import "utils/variables";
@import "utils/templates";

.examples {
  @extend %container;
  padding-top: 64px;
}

.container {
  max-width: 288px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  line-height: 22.4px;
  color: $colorMainText;
  margin: 0 auto;

  @include onTablet {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    // grid-template-columns: repeat(350px, auto);
    grid-gap: 24px;
    max-width: 760px;
  }

  @include onDesctop {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 24px;
    height: 780px;
  }

  &__col {
    max-width: 284px;

    @include onTablet {
      max-width: 350px;
    }

    @include onDesctop {
      max-width: 543px;
    }
  }

  img {
    max-width: 100%;
    // @include onTablet{
    //   max-width: 100%;
    // }
    // @include onDesctop{
    //   max-width: 100%;
    // }
  }
}

.text {
  margin-top: 20px;
  max-width: 100%;

  @include onDesctop {
    margin-top: 70px;
    line-height: 29px;
  }
}
